.rating-star {
  width: 1em;
}



/*.md-datepicker-input-container {
  padding-bottom: 0;
}*/



/*.md-input {
  margin: 0;
}

.form-title {
  font: normal 600 80px/100px "Noto Sans" sans-serif;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 2px rgba(20, 20, 20, .25);
  padding: 60px 0 0 30px;
  margin: 0 auto 0 auto;
  height: 430px;
  opacity: 0.9;
}

.title-container {
  vertical-align: middle;
  text-align: center;
}

body.ng-scope{
  background-color: #ffffef;
  background: url(http://www.lmt-lss.com/wp-content/uploads/2015/08/HAP212.jpg) no-repeat top left;
  background-size: cover;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

md-content.layout-padding.layout-column {
  border: 1px rgba(0,0,0,0.30) solid;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


md-datepicker {
  height: 50px;
  margin: 0 10px 8px 0;
  padding: 2px 0 0 0;
}

.md-datepicker-input-container {
  margin: 3px 0 0 0;
  padding: 15px 0 0 0;
}

#time-input {
  height: 50px;
  margin:  17px 0 5px 0;
  line-height: 15px;
  font-weight: 400;
}

#num-attendees {
  margin-top: 19px;
}

.item-address {
  font-weight: 200;
}
*/
