.md-input {
  /*font-size: */
  margin: 0;
}

.form-title {
  font: italic 600 70px/100px "Noto Sans" sans-serif;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 1);
  padding: 20px 0 0 30px;
  margin: 20px auto 0;
  height: 430px;
  width: 1170px;
  background: url(https://s3-ap-southeast-2.amazonaws.com/captain-cook-cms-assets/assets/images-syd-1170x430/687/sb2-sdnk5_large.jpg) no-repeat top left;
  /*background-size: 600px 430px;*/
}

body.ng-scope{
  background-color: papayawhip;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

md-content.layout-padding.layout-column {
  border: 1px rgba(0,0,0,0.30) solid;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

* {
    font-weight: 800;
}

md-datepicker {
  height: 50px;
  margin: 0 10px 8px 0;
  padding: 2px 0 0 0;
}

.md-datepicker-input-container {
  /*position: absolute;*/
  /*bottom: 180px;*/
  margin: 3px 0 0 0;
  padding: 15px 0 0 0;
}

.md-datepicker-input-container {
  /*position: absolute;*/
  /*bottom: 180px;*/
  margin: 3px 0 0 0;
  padding: 15px 0 0 0;
}

#time-input {
  height: 50px;
  margin:  17px 0 5px 0;
  line-height: 15px;
  font-weight: 100;
}

#num-attendees {
  margin-top: 19px;
}

.item-address {
  font-weight: 200;
}
