.md-input {
  font-size:
  margin: 0;
}

* {
  font-weight: 500;
}

md-datepicker {
  height: 50px;
  margin: 0 10px 8px 0;
  padding: 2px 0 0 0;
}

.md-datepicker-input-container {
  /*position: absolute;*/
  /*bottom: 180px;*/
  margin: 3px 0 0 0;
  padding: 15px 0 0 0;
}

.md-datepicker-input-container {
  /*position: absolute;*/
  /*bottom: 180px;*/
  margin: 3px 0 0 0;
  padding: 15px 0 0 0;
}

#time-input {
  height: 50px;
  margin:  17px 0 5px 0;
  line-height: 15px;
  font-weight: 100;
}

#num-attendees {
  margin-top: 19px;
}

.item-address {
  font-weight: 200;
}
