<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create a new table</h2>
      <span flex></span>
      <!-- <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button> -->
    </div>
  </md-toolbar>

  <!-- <div layout="column" ng-cloak class="md-inline-form"> -->
    <md-dialog-content layout-margin>
      <div>
        <form name="userForm">
          <div layout="column">
              <!-- Table name -->
              <md-input-container>
                <label>Your Table Name</label>
                <input type="text" ng-model="host.meal.title"></input>
              </md-input-container>

              <!-- Yelp Autocomplete -->
              <md-autocomplete
              md-selected-item="host.meal.restaurant"
              md-search-text="host.searchText"
              md-items="shop in host.querySearch(host.searchText)"
              md-item-text="shop.name"
              md-min-length="1"
              md-floating-label="Search Yelp."
              md-menu-class="autocomplete-search">
                <md-item-template>
                  <!-- <span class="item-name"> -->
                    <img class="rating-star" ng-repeat="star in shop.rating track by $index" ng-src="{{star}}">
                  <!-- </span> -->
                  <span>({{shop.yelpData.review_count}})</span>
                  <span ng-if="shop.name" md-highlight-text="host.searchText">{{shop.name}}</span>
                </md-item-template>
                <md-not-found>
                  <span>Sorry, no resturaunts found! Please try again!</span>
                </md-not-found>
              </md-autocomplete>

            <div layout="column" layout-gt-xs="row">
              <!-- Max Attendees -->
              <md-input-container>
                <label>Max surfers</label>
                <input type="number" ng-model="host.meal.attendees" rows="1" min="0" inputmode="numeric"></input>
              </md-input-container>

              <!-- date -->
              <!-- md-datepicker sucks for now, so we're using this for now -->
              <!-- TODO: Get times in proper time zones & fix min time -->
              <md-input-container>
                <label>Date&Time</label>
                <input type="datetime-local" ng-model="host.meal.date" rows="1" min="host.dateNow" inputmode="numeric"></input>
              </md-input-container>

              <!-- Time -->
              <!-- <md-input-container class="md-input" id="time-input">
                <label>Enter Time</label>
                <input type="time" ng-model="host.meal.date" rows="1">
              </md-input-container> -->
            </div>

            <!-- Details -->
            <md-input-container>
              <label>Event Info</label>
              <input type="text" ng-model="host.meal.description" md-maxlength="300" columns="10" rows="5"></input>
            </md-input-container>

            <!-- Submit -->
            <div layout="row" layout-align="end">
              <md-button type="submit" class="md-raised md-primary" ng-disabled="!host.meal.title || !host.meal.restaurant || !host.meal.date || !host.meal.attendees || !host.meal.description">Add</md-button>
            </div>
          </div>
        </form>
      </div>
    </md-dialog-content>
  <!-- </div> -->
</md-dialog>
