<div id="home_container" layout="column" ng-cloak>
  <section id="hero_container" layout="row" flex layout-align="center center">
    <div layout="column" layout-align="center center">
      <h1 id="title">Table Surfer</h1>
      <h3 id="subtitle">Meet food and eat new people</h3>
      <br>
      <md-button class="md-accent md-raised hungry" aria-label="Find meals" ui-sref="results">
        <h1>I'm hungry!</h1>
      </md-button>
    </div>
  </section>

  <div id="cards_container"
  layout="row" layout-align="space-around center"
  layout-sm="column">
    <!-- Card featuring nearest tables -->
    <div id="distance" class="card" ng-mouseenter="distance = 'md-whiteframe-5dp'" ng-mouseleave="distance = ''" ng-class="distance" ng-click="home.goToMeal(home.tables.distance[0].meal.id)" flex="30">
      <div class="head">
        <h3>Nearby</h3>
      </div>
      <div>
        <md-progress-circular ng-if="!home.tables.distance.length" md-diameter="100%" class="md-warn" md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-if="home.tables.distance.length">
        <h1>{{home.tables.distance[0].restaurant.name}}</h1>
        <div class="foot">
          <img src="{{home.tables.distance[0].host.profilePicture}}" class="profile_picture">
          <div class="feat_container">
            <h1 class="feature">{{home.tables.distance[0].restaurant.yelpData.location.neighborhoods[0]}}</h1>
          </div>
          <div class="description">
            <p>{{home.tables.distance[0].meal.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card featuring highest rated tables -->
    <div id="rating" class="card" ng-mouseenter="rating = 'md-whiteframe-5dp'" ng-mouseleave="rating = ''" ng-class="rating" ng-click="home.goToMeal(home.tables.rating[0].meal.id)" flex="30">
      <div class="head">
        <h3>Highest Rated</h3>
      </div>
      <div>
        <md-progress-circular ng-if="!home.tables.rating.length" md-diameter="100%" class="md-warn" md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-if="home.tables.rating.length">
        <h1>{{home.tables.rating[0].restaurant.name}}</h1>
        <div class="foot">
          <div class="foot_container">
            <img src="{{home.tables.distance[0].host.profilePicture}}" class="profile_picture">
            <div class="feat_container">
              <h1 class="feature"><img src="{{home.tables.rating[0].restaurant.yelpData.rating_img_url_large}}"/></h1>
            </div>
            <div class="description">
              <p>{{home.tables.rating[0].meal.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card featuring soonest tables -->
    <div id="date" class="card" ng-mouseenter="date = 'md-whiteframe-5dp'" ng-mouseleave="date = ''" ng-class="date" ng-click="home.goToMeal(home.tables.date[0].meal.id)" flex="30">
      <div class="head">
        <h3>Coming Up</h3>
      </div>
      <div>
        <md-progress-circular ng-if="!home.tables.date.length" md-diameter="100%" class="md-warn" md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-if="home.tables.date.length">
        <h1>{{home.tables.date[0].restaurant.name}}</h1>
        <div class="foot">
          <img src="{{home.tables.distance[0].host.profilePicture}}" class="profile_picture">
          <div class="feat_container">
            <h1 class="feature">{{home.tables.date[0].meal.date | date: 'h:mm a'}}</h1>
          </div>
          <div class="description">
            <p>{{home.tables.date[0].meal.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

