<link rel='stylesheet' href="../../styles/search.css" />
<h1 class="form-title md-display-4">Host Your Table</h1>
<div class="form-container">
  <div id="search" ng-cloak>
    <div layout="column" ng-cloak class="md-inline-form">
      <md-content layout-padding layout="column">
        <form ng-submit="vm.add()">
          <md-card class="search-card">
            <!-- user event details start -->
              <md-input-container flex>
                <label>Your Table Name</label>
                <textarea ng-model="vm.meal.title" columns="1" rows="1"></textarea>
              </md-input-container>
              <!-- md autocomplete settings + start -->
              <md-autocomplete
                  md-selected-item="vm.meal.restaurant"
                  md-search-text="vm.searchText"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-item-text="item.name"
                  md-min-length="1"
                  md-floating-label="Where do you want to eat? Search Yelp."
                  md-menu-class="autocomplete-search">
                <!-- autocomplete display start -->
                <span  ng-if="item.name" md-highlight-text="vm.searchText">{{item.name}}</span>
                <md-item-template>
                   <span class="item-name">
                    <!-- <img ng-repeat="i in item.rating track by $index" ng-src="{{i}}"> -->
                    <img ng-src="{{item.yelpData.rating_img_url_small}}" style="margin: 0 5px 0 10px">
                  </span>
                  <span>({{item.yelpData.review_count}})</span>
                  <span class="item-name">
                    <span><strong> {{item.name}} </strong></span>
                  </span>
                </md-item-template>
                <md-not-found>
                  <span>Sorry, no resturaunts found! Please try again!</span>
                </md-not-found>
                <!-- autcomplete display end -->
              </md-autocomplete>
              <!-- md autocomplete settings end -->

              <!-- md-datepicker, span required to prevent rolling off edge -->
              <!-- <span> -->
              <div layout="row" flex>
                <md-datepicker flex="30"
                  ng-model="vm.meal.date"
                  ng-required="true"
                  md-min-date="vm.minDate"
                  md-placeholder="Enter Date"
                  aria-haspopup="true">
                </md-datepicker>
              <!-- </span> -->
              <!-- time input -->
                <md-input-container class="md-input" id="time-input" flex="40">
                  <input type="time" ng-model="vm.meal.date" placeholder="Enter Time">
                </md-input-container>
              <!-- num of attendess -->
                <md-select id="num-attendees" flex="30" ng-model="vm.meal.attendees" placeholder="Num. of Surfers">
                  <md-option ng-value="number" ng-repeat="number in vm.attendees">{{ number }}</md-option>
                </md-select>
              </div>
              <md-input-container>
                <label>Event Info</label>
                <textarea style="resize:none" ng-model="vm.meal.description" columns="10" md-maxlength="300" rows="10"></textarea>
              </md-input-container>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button type="submit" class="md-raised md-primary" ng-disabled="!vm.meal.title || !vm.meal.restaurant || !vm.meal.date || !vm.meal.attendees || !vm.meal.description">Add</md-button>
            </section>
          </md-card>
          <!-- user submission end -->

        </form>
      </md-content>
    </div>
  </div>
</div>
